body {
    font-family: "Open Sans", sans-serif;
  }
  
  h3 {
    font-family: "Open Sans", sans-serif;
    color: #1e1e1e;
  }
  
  .text-muted {
    color: #989898 !important;
  }
  
  .confirm-button {
    background-color: #e86924;
    border-color: #e86924;
    font-family: "Open Sans";
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    padding: 6px 20px;
    height: 40px;
    font-size: 18px;
    color: white;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .confirm-button:hover {
    background-color: #e1e1e1;
    border-color: hsl(0, 0%, 88%);
    color: #1e1e1e;
  }
  
  .confirm-button:focus,
  .confirm-button:active {
    outline: none;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: #e86924;
  }
  