body {
    font-family: "Open Sans", sans-serif;
  }
  
  .password-label {
    font-family: "Open Sans";
    font-weight: bold;
    color: #343a40;
  }
  
  .password-input {
    font-family: "Open Sans";
    border-color: #e1e1e1;
    color: #6c757d;
    text-align: center;
  }
  
  .update-button {
    background-color: #e86924;
    border-color: #e86924;
    font-family: "Open Sans";
    width: 100%;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .update-button:hover {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: #1e1e1e;
  }
  
  .update-button:focus,
  .update-button:active {
    outline: none;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    color: #e86924;
  }
  