* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links-container {
    display: flex;
    justify-content: flex-end; 
}

.navbar-links {
    list-style-type: none; 
    gap: 30px;
}

.navbar-links li {
    position: relative;
}

.navbar-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.navbar-links .dropdown-container {
    position: relative;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 150px;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu li a {
    color: #000;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}


.navbar-button .get-started-btn {
    background-color: #f05a28;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-button .get-started-btn:hover {
    background-color: #e86924;
}
